body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
.qr-body{
    background-color: hsl(0, 0%, 100%);
    width: 17%;
    padding: 12px;
    border-radius: 12px;
    margin: 110px auto;
    box-shadow: 3px 10px 10px rgba(94, 94, 94, 0.151);
}
.qr-scan{
    display: flex;
    justify-content: center;
}
.qr-scan img{
    width: 100%;
    border-radius: 10px;
}
.qr-description{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0 17px;
}
.qr-details{
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 5px;
}